:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}
body {
	margin: 0;
	display: grid;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	position: relative;
}
body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	opacity: 0.05;
	background: url("./logo.svg");
	background-size: 256px;
	transform: rotate(-12deg) scale(1.35);
	animation: slide 30s linear infinite;
	pointer-events: none;
}
@keyframes slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 256px 224px;
	}
}
.app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	position: relative;
	z-index: 1;
}
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-bottom: 2rem;
}
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 0.3s;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.bun-logo {
	transform: scale(1.2);
}
.bun-logo:hover {
	filter: drop-shadow(0 0 2em #fbf0dfaa);
}
.react-logo {
	animation: spin 20s linear infinite;
}
.react-logo:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
code {
	background-color: #1a1a1a;
	padding: 0.2em 0.4em;
	border-radius: 0.3em;
	font-family: monospace;
}
@media (prefers-reduced-motion) {
	*,
	::before,
	::after {
		animation: none !important;
	}
}
